# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.env

# Modelos de Machine Learning
*.pt
*.pth

# Videos y resultados (archivos pesados generados)
videos_para_testear/
resultados_videos/
reporte_metricas_*.png

# Carpetas de IDE
.vscode/
.idea/

# Sistema Operativo
.DS_Store
Thumbs.db

# Resultados específicos de pruebas con trackers
resultados_deepocsort/
resultados_video*/

# Repositorios externos o clonados (evitar subir submódulos o dependencias pesadas)
testDeepOcSort/Deep-OC-SORT/

# Pesos de reidentificación y descargas residuales
*.weights
*.tar
